<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="plantillas/base::head"> </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
   
      <!-- Navbar -->
     <nav th:replace="plantillas/base::navbar" class="custom-navbar navbar navbar-expand-lg navbar-dark fixed-top" data-spy="affix" data-offset-top="10"></nav>

    <!-- REVIEWS Section  -->
    <div
      id="testmonial"
      class="container-fluid wow fadeIn bg-dark text-light has-height-lg middle-items"
    >
      <h2 class="section-title my-4 text-center" style=" margin-top: 9.5rem !important; font-size: 3rem;">Travesías</h2>
      <div class="row mt-3 mb-5">
        <!-- TABLE LISTADO Section  -->


        <div class="col-md-2" style=" position: relative; top: -13px; ">
           <a  th:href="@{/travesia/crear_travesia}"> <span class="badge badge-pill badge-success"> + Travesías</span> </a> 
        </div>
        <table  id="tabla-trav" class="table table-bordered table-dark table-hover" >
          <thead>
            <tr>
              <th scope="col">NOMBRE</th>
              <th scope="col">PRECIO</th>
              <th scope="col">RECORRIDO</th>
              <th scope="col">ACCIONES</th>
            </tr>
          </thead>
          <tbody>
                      
          </tbody>
        </table>
        <!-- end of tables -->
      </div>
    </div>


     <!-- Archivo js extra para que contiene las funciones adicionelas -->
     <script th:src="@{/assets/vendors/jquery/jquery-3.4.1.js}"></script>
     <script th:src="@{/assets/misfunciones_js/travesias.js}"></script>
    

  </body>
</html>


